#area {
  overflow: hidden;
  width: 800px; /* era 640 */
  height: 600px; /* era 420 */
  border: 1px solid red;
}
#scenario {
  display: block;
  width: 400px;
  border: 0px;
  padding: 0px;
  border-spacing: 0px;
}
#scenario td {
  width: 40px;
  height: 40px;
}
.grass,
.tree,
.water,
.street,
.house {
  background: url("../images/tileset.png") no-repeat;
}
.tree {
  background-position: -40px 0px;
}
.water {
  background-position: -80px 0px;
}
.street {
  background-position: 0px -42px;
}
.house {
  background-position: -40px -42px;
}
.mini-person {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../images/hero.png") no-repeat;
  background-position: -40px -80px;
  width: 40px;
  height: 40px;
}
.mini-person.toleft {
  background-position: -40px -120px;
}
.mini-person.toright {
  background-position: -40px -40px;
}
.mini-person.toback {
  background-position: -40px 0px;
}

.novel-scene {
  position: absolute;
  z-index: 20;
  width: 800px;
  height: 400px;
  top: 200px;
}

.novel-person {
  width: 200px;
  height: 300px;
  margin: 0px 70px;
  float: left;
  background-image: url(images/photo-anon.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.right {
  float: right;
}

.novel-message {
  width: 760px;
  height: 100px;
  position: absolute;
  z-index: 25;
  top: 460px;
  background-color: #eff;
  padding: 10px 20px;
  text-align: center;
  font-size: 16pt;
  font-family: helvetica;
}

.cabin-session {
  position: absolute;
  z-index: 20;
  width: 800px;
  height: 600px;
  top: 10px;
  left: 10px;
  background-color: #000;
}

.cabin-shell,
.cabin-shell-history,
.cabin-shell-input {
  position: absolute;
}

.cabin-shell,
.cabin-shell-history,
.cabin-shell li,
.cabin-shell-input {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  color: #0f0;
  font-family: monospace;
  font-size: 10pt;
}

.cabin-shell {
  z-index: 21;
  width: 400px;
  height: 300px;
  top: 270px;
  left: 20px;
  border: solid #fff 1px;
  border-radius: 5px;
}

.cabin-shell-history,
.cabin-shell-input {
  z-index: 22;
  width: 456px;
  left: 23px;
}

.cabin-shell-history {
  height: 130px;
  top: 273px;
  overflow: auto;
}

.cabin-shell-history li {
  color: #2b2;
  list-style-type: none;
}

.cabin-shell-input {
  height: 19px;
  top: 400px;
  border: 0px;
}

.cabin-help {
  position: absolute;
  z-index: 21;
  width: 300px;
  height: 150px;
  top: 270px;
  left: 330px;
  border: 1px solid #fff;
  background-color: #c0c0c0;
  color: #333;
}

.cabin-comm {
  position: absolute;
  z-index: 21;
  width: 100px;
  height: 200px;
  top: 50px;
  left: 530px;
  padding: 0px;
  background-color: #52DA3B;
}

.cabin-arena {
  position: absolute;
  z-index: 21;
  width: 300px;
  height: 350px;
  top: 50px;
  left: 20px;
  background-color: #3B46DA;
}

#blocklyDiv {
  position: absolute;
  z-index: 30;
  height: 520px;
  width: 770px;
  top: 20px;
  left: 20px;
}

#console-display {
  position: absolute;
  z-index: 31;
  background-color: black;
  width: 200px;
  height: 150px;
  top: 350px;
  left: 550px;
}
