#area {
  overflow: hidden;
  width: 640px;
  height: 420px;
  border: 1px solid red;
}
#scenario {
  display: block;
  width: 400px;
  border: 0px;
  padding: 0px;
  border-spacing: 0px;
}
#scenario td {
  width: 40px;
  height: 40px;
}
.grass,
.tree,
.water,
.street,
.house {
  background: url("../images/tileset.png") no-repeat;
}
.tree {
  background-position: -40px 0px;
}
.water {
  background-position: -80px 0px;
}
.street {
  background-position: 0px -42px;
}
.house {
  background-position: -40px -42px;
}
#hero {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../images/hero.png") no-repeat;
  background-position: -40px -80px;
  width: 40px;
  height: 40px;
}
#hero.toleft {
  background-position: -40px -120px;
}
#hero.toright {
  background-position: -40px -40px;
}
#hero.toback {
  background-position: -40px 0px;
}

.novel-scene {
  position: absolute;
  z-index: 20;
  width: 640px;
  height: 320px;
  top: 100px;
  background-color: antiquewhite;
}

.novel-person {
  width: 200px;
  height: 300px;
  margin: 0px 70px;
  float: left;
  background-repeat: no-repeat;
  background-color: blue;
  background-position: 0px 0px;
}

.novel-person .right {
  float: right;
}

.novel-message {
  width: 600px;
  height: 100px;
  position: absolute;
  z-index: 25;
  top: 300px;
  background-color: #eff;
  padding: 10px 20px;
  text-align: center;
  font-size: 16pt;
  font-family: helvetica;
}
